<div class="max-w-2xl mx-auto p-6">
    <div class="bg-white rounded-2xl shadow-lg border border-base-200">
        <div class="p-8">
            <h2 class="text-3xl font-bold text-center text-primary mb-6">Recursos y Herramientas</h2>
            <ul class="flex flex-col gap-4">
                <li>
                    <a routerLink="/class/letras"
                        class="block w-full px-6 py-4 rounded-lg bg-base-100 hover:bg-primary hover:text-white transition font-semibold text-lg text-center border border-base-300 shadow-sm">Sopa
                        de letras</a>
                </li>
                <li>
                    <a routerLink="/class/pictogram"
                        class="block w-full px-6 py-4 rounded-lg bg-base-100 hover:bg-primary hover:text-white transition font-semibold text-lg text-center border border-base-300 shadow-sm">Generador
                        de secuencias</a>
                </li>
                <li>
                    <a
                        class="block w-full px-6 py-4 rounded-lg bg-base-100 hover:bg-primary hover:text-white transition font-semibold text-lg text-center border border-base-300 shadow-sm">Próximamente
                        más recursos</a>
                </li>
            </ul>
        </div>
    </div>
</div>