<section class="flex flex-col items-center justify-center">
    <search-input placeholder="Buscar Pictogramas" (value)="query.set($event)" />
    <!-- Mostrar imágenes de los seleccionados usando solo los IDs -->
    <div class="mt-4 w-full flex flex-wrap gap-4 justify-center">
        @for (id of selectedIds(); track id) {
        <div class="card w-28 h-28 flex flex-col items-center justify-center border border-blue-500 rounded">
            <img [src]="'https://static.arasaac.org/pictograms/' + id + '/' + id + '_500.png'"
                class="w-20 h-20 object-contain" />
        </div>
        }
        @empty {
        <div class="text-gray-400">Ninguno seleccionado</div>
        }
    </div>

    <div class="w-full min-h-[70vh] flex flex-col items-center">
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 auto-rows-fr gap-6 p-4">

            @for (item of arasaacResource.value(); track item._id) {
            <div class="card bg-base-100 shadow-sm w-full max-w-xs mx-auto flex flex-col cursor-pointer transition"
                (click)="toggleSelection(item._id)" [class.border-4]="isSelected(item._id)"
                [class.border-blue-500]="isSelected(item._id)">
                <figure>
                    <img [src]="'https://static.arasaac.org/pictograms/' + item._id + '/' + item._id + '_500.png'"
                        class="rounded-box w-44 h-44 object-contain mx-auto my-2" />
                </figure>
                <div class="card-body flex flex-col items-center">
                    <div class="flex flex-wrap gap-1 justify-center mb-2">
                        @for (kw of item.keywords; track kw.keyword) {
                        <span class="bg-blue-100 text-blue-800 rounded px-2 py-0.5 text-xs font-medium"
                            title="{{ kw.meaning }}">
                            {{ kw.keyword }}
                        </span>
                        }
                    </div>
                </div>
            </div>
            }

            @empty {
            <div class="col-span-full text-center text-gray-400">No hay resultados</div>
            }
        </div>
    </div>

</section>